<IfModule mod_rewrite.c>
    RewriteEngine On
    Options +FollowSymlinks
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^local_business/([a-z0-9-]+)/(.*)$ local_business/$2 [QSA,L]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^assets/([a-z0-9-]+)/(.*)$ assets/$2 [QSA,L]
    
    RewriteBase /

        RewriteCond %{HTTP_USER_AGENT} GbPlugin [NC,OR]
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{HTTP_HOST} ^www\.(.*)
        RewriteRule (.*) http://%1/$1 [R=301,L]

</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>
